.player {
    background: url('img/plr.gif') no-repeat;
    width: 64px;
    height: 64px;
    background-size: contain;
}
.monster {
    background: url('img/monster2.gif') no-repeat;
    width: 150px;
    height: 150px;
    background-size: contain;
}